<!-- Main  -->
    <div class="container min-vh-100 d-flex align-items-center justify-content-center py-4">
        <div class="row justify-content-center w-100"> <!-- w-100 para que ocupe el ancho disponible -->
                
                <!-- Sección Tours -->
                <section id="tours" class="mb-1">
                    <h3 class="mb-2 text-secondary">Opciones de Administración</h3>
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <div class="row g-4">
                                <div class="col-12 col-md-4">
                                    <div class="tour-card ">
                                        <i class="fa-regular fa-user display-5 mb-3 text-secondary"></i>
                                        <h4 class="h6 fw-semibold mb-2">Usuarios</h4>
                                        <p class="small text-muted">Gestiona usuarios y roles</p>
                                        <a routerLink="/admin/users"class="btn btn-sm btn-outline-secondary">Acceder</a>
                                    </div>
                                </div>

                                <div class="col-12 col-md-4">
                                    <div class="tour-card ">
                                        <i class="fa-solid fa-bullhorn display-5 mb-3 text-secondary"></i>
                                        <h4 class="h6 fw-semibold mb-2">Ads</h4>
                                        <p class="small text-muted">Gestiona Ads de clientes</p>
                                          <a routerLink="/admin/ads" class="btn btn-sm btn-outline-secondary">Acceder</a>
                                    </div>
                                </div>
                                 <div class="col-12 col-md-4">
                                    <div class="tour-card ">
                                        <i class="fa-solid fa-cubes-stacked display-5 mb-3 text-secondary"></i>
                                        <h4 class="h6 fw-semibold mb-2">Categorías</h4>
                                        <p class="small text-muted">Gestiona categorías de Ads</p>
                                          <a routerLink="/admin/categories" class="btn btn-sm btn-outline-secondary">Acceder</a>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4">
                                    <div class="tour-card">
                                        <i class="fa-regular fa-newspaper display-5 mb-3 text-secondary"></i>
                                        <h4 class="h6 fw-semibold mb-2">Blog</h4>
                                        <p class="small text-muted">Gestiona noticias</p>
                                         <a routerLink="/admin/posts" class="btn btn-sm btn-outline-secondary">Acceder</a>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4">
                                    <div class="tour-card">
                                        <i class="fa-regular fa-money-bill-1 display-5 mb-3 text-secondary"></i>
                                        <h4 class="h6 fw-semibold mb-2">Precios</h4>
                                        <p class="small text-muted">Oferta de precios disponibles</p>
                                         <a routerLink="/admin/plans" class="btn btn-sm btn-outline-secondary">Acceder</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
        </div>
    </div>