<!-- Main  -->
    <div class="container min-vh-100 d-flex align-items-center justify-content-center py-4">
        <div class="row justify-content-center w-100"> <!-- w-100 para que ocupe el ancho disponible -->
            <!-- Sección Menú Usuario -->
            <section id="tours" class="mb-1">
                <h3 class="mb-2 text-secondary">Opciones de Usuario</h3>
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <div class="row g-4">
                                <div class="col-12 col-md-4">
                                    <div class="tour-card ">
                                        <i class="fa-solid fa-bullhorn display-5 mb-3 text-secondary"></i>
                                        <h4 class="h6 fw-semibold mb-2">Nuevo Anuncio</h4>
                                        <p class="small text-muted">Crea un nuevo anuncio</p>
                                        <a routerLink="/cliente/adscreate"
                                            class="btn btn-sm btn-outline-secondary">Acceder</a>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4">
                                    <div class="tour-card ">
                                        <i class="fa-solid fa-clock-rotate-left display-5 mb-3 text-secondary"></i>
                                        <h4 class="h6 fw-semibold mb-2">Mis Anuncios</h4>
                                        <p class="small text-muted">Historial anuncios publicados</p>
                                        <a routerLink="/cliente/myads"
                                            class="btn btn-sm btn-outline-secondary">Acceder</a>
                                    </div>
                                </div>

                                <div class="col-12 col-md-4">
                                    <div class="tour-card ">
                                        <i class="fa-regular fa-circle-user display-5 mb-3 text-secondary"></i>
                                        <h4 class="h6 fw-semibold mb-2">Tu cuenta</h4>
                                        <p class="small text-muted">Configuración de cuenta</p>
                                        <a routerLink="/cliente/myaccount"
                                            class="btn btn-sm btn-outline-secondary">Acceder</a>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4">
                                    <div class="tour-card ">
                                        <i class="fa-regular fa-newspaper display-5 mb-3 text-secondary"></i>
                                        <h4 class="h6 fw-semibold mb-2">Tarifas</h4>
                                        <p class="small text-muted">Revisa nuestro tarifario</p>
                                        <a routerLink="/cliente/plans"
                                            class="btn btn-sm btn-outline-secondary">Acceder</a>
                                    </div>
                                </div>

                                <div class="col-12 col-md-4">
                                    <div class="tour-card ">
                                        <i class="fa-regular fa-paper-plane display-5 mb-3 text-secondary"></i>
                                        <h4 class="h6 fw-semibold mb-2">Contacto</h4>
                                        <p class="small text-muted">Envianos tus consultas</p>
                                        <a routerLink="/cliente/contact"
                                            class="btn btn-sm btn-outline-secondary">Acceder</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
            </section>
        </div>
    </div>
