<!-- Main  -->
<div class="container-fluid min-vh-100 d-flex align-items-center justify-content-center py-4">
    <div class="row justify-content-center w-100"> <!-- w-100 para que ocupe el ancho disponible -->
        <div class="col-12 col-md-8 col-lg-6 col-xl-5"> <!-- Ajusta columnas para controlar el ancho -->

            <div class="card shadow login-card">
                <div class="card-body p-4">
                    <h3 class="text-center text-secondary mb-4">Crear Cuenta</h3>

                    <form [formGroup]="formRegister" (ngSubmit)="onSubmit()">
                        <div class="mb-3">
                            <label class="form-label">Nombre completo</label>
                            <input type="text" class="form-control"
                                [class.is-invalid]="formRegister.get('nombreCompleto')?.invalid && formRegister.get('nombreCompleto')?.touched"
                                id="nombreCompleto" formControlName="nombreCompleto">
                            <div class="invalid-feedback"
                                *ngIf="formRegister.get('nombreCompleto')?.invalid && formRegister.get('nombreCompleto')?.touched|| submitted">
                                Por favor ingrese su nombre completo
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Correo electrónico</label>
                            <input type="email" class="form-control" id="email"
                                [class.is-invalid]="formRegister.get('email')?.invalid && formRegister.get('email')?.touched"
                                formControlName="email">
                            <div class="invalid-feedback"
                                *ngIf="formRegister.get('email')?.invalid && formRegister.get('email')?.touched|| submitted">
                                Por favor ingrese su correo
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Contraseña</label>
                            <input type="password" class="form-control"
                                [class.is-invalid]="formRegister.get('password')?.invalid && (formRegister.get('password')?.touched || submitted)"
                                formControlName="password">
                            <div class="invalid-feedback"
                                *ngIf="formRegister.get('password')?.invalid && (formRegister.get('password')?.touched || submitted)">
                                La contraseña debe tener entre 6-18 caracteres, al menos un número y una
                                letra mayúscula.
                            </div>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Confirmar contraseña</label>
                            <input type="password" class="form-control"
                                [class.is-invalid]="(formRegister.get('passwordConfirm')?.invalid && (formRegister.get('passwordConfirm')?.touched || submitted)) || (formRegister.errors?.['passwordsNoCoinciden'] && (formRegister.get('passwordConfirm')?.touched || submitted))"
                                formControlName="passwordConfirm">
                            <div class="invalid-feedback"
                                *ngIf="formRegister.errors?.['passwordsNoCoinciden'] && (formRegister.get('passwordConfirm')?.touched || submitted)">
                                Las contraseñas no coinciden.
                            </div>
                        </div>

                        <div class="d-grid mb-2">
                            <button type="submit" class="btn btn-primary">Registrarse</button>
                        </div>
                        <div class="d-grid mb-3">
                            <button type="button" class="btn btn-outline-secondary" (click)="onReset()">Limpiar</button>
                        </div>

                        <div class="text-center">
                            <a [routerLink]="'/auth/login'" class="small text-decoration-none text-secondary">¿Ya tienes
                                cuenta? Inicia sesión</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>