<!-- Main  -->
<div class="container justify-content-center mb-4 py-4" style="margin-top: 76px;">
    <div class="card">
        <div class="card-header">
            Nuevo Anuncio
        </div>
        <div class="card-body">
            <div class="p-md-5">
                <form [formGroup]="anuncioForm" (ngSubmit)="onSubmit()" class="needs-validation" novalidate>
                    <!-- Categoría anuncio -->
                    <div class="mb-3">
                        <label class="form-label">Categoría</label>
                        <select class="form-select" formControlName="category">
                            <option value="" disabled selected>Selecciona una categoría</option>
                            <option value="hotel">Hotel</option>
                            <option value="hostal">Hostal</option>
                            <option value="cabana">Cabaña</option>
                            <option value="camping">Camping</option>
                        </select>
                        <div *ngIf="anuncioForm.get('category')?.touched && anuncioForm.get('category')?.invalid"
                            class="invalid-feedback d-block">
                            Por favor, debe seleccionar una categoría
                        </div>
                    </div>

                    <!-- Fecha Inicio anuncio-->
                    <div class="mb-3">
                        <label class="form-label">Fecha Inicio Anuncio</label>
                        <input type="date" class="form-control" formControlName="startDate">
                        <div *ngIf="anuncioForm.get('startDate')?.touched && anuncioForm.get('startDate')?.invalid"
                            class="invalid-feedback d-block">
                            Por favor, ingrese una fecha válida
                        </div>
                    </div>

                    <!-- Fecha Término anuncio -->
                    <div class="mb-3">
                        <label class="form-label">Fecha Término Anuncio</label>
                        <input type="date" class="form-control" formControlName="endDate">
                        <div
                            *ngIf="anuncioForm.errors?.['fechaInvalida'] && (anuncioForm.touched || anuncioForm.dirty)">
                            <div class="alert alert-danger mt-2">
                                La fecha de término debe ser posterior o igual a la fecha de inicio.
                            </div>
                        </div>
                    </div>

                    <!-- Imagen del anuncio-->
                    <div class="mb-3">
                        <label class="form-label">Imagen del anuncio</label>
                        <input #fileInput type="file" class="form-control" (change)="onFileSelected($event)">

                        <div *ngIf="anuncioForm.get('image')?.touched && anuncioForm.get('image')?.invalid"
                            class="invalid-feedback d-block">
                            Por favor, debe adjuntar una imagen
                        </div>
                    </div>


                    <!-- Tamaño del anuncio -->
                    <div class="mb-3">
                        <label class="form-label">Tamaño del anuncio</label>
                        <select class="form-select" formControlName="size">
                            <option value="" disabled selected>Selecciona el tamaño</option>
                            <option value="320x50">Pequeño (320×50) - Banner móvil</option>
                            <option value="300x250">Mediano (300×250) - Rectángulo medio ⭐</option>
                            <option value="728x90">Grande (728×90) - Leaderboard</option>
                            <option value="970x250">Destacado (970×250) - Billboard</option>
                        </select>
                        <div *ngIf="anuncioForm.get('size')?.touched && anuncioForm.get('size')?.invalid"
                            class="invalid-feedback d-block">
                            Por favor, seleccione el tamaño del anuncio
                        </div>
                    </div>

                    <!-- Ubicación del anuncio-->
                    <div class="mb-3">
                        <label class="form-label">Ubicación del anuncio</label>
                        <select class="form-select" formControlName="location">
                            <option value="" disabled selected>Dónde se mostrará</option>
                            <option value="1">Página Principal</option>
                            <option value="2">Sección Hospedaje</option>
                            <option value="3">Barra lateral</option>
                            <option value="4">Tour</option>
                            <option value="5">Pie de página</option>
                        </select>
                        <div *ngIf="anuncioForm.get('location')?.touched && anuncioForm.get('location')?.invalid"
                            class="invalid-feedback d-block">
                            Por favor, seleccione ubicación del anuncio
                        </div>
                    </div>

                    <!-- Plazo del anuncio -->
                    <div class="mb-3">
                        <label class="form-label">Duración del anuncio</label>
                        <select class="form-select" formControlName="duration">
                            <option value="" disabled selected>Selecciona duración</option>
                            <option value="1">Por día</option>
                            <option value="2">Semanal</option>
                            <option value="3">Mensual</option>
                            <option value="4">Anual</option>
                        </select>
                        <div *ngIf="anuncioForm.get('duration')?.touched && anuncioForm.get('duration')?.invalid"
                            class="invalid-feedback d-block">
                            Por favor, seleccione duración del anuncio
                        </div>
                    </div>

                    <!-- Descripción -->
                    <div class="mb-3">
                        <label class="form-label">Descripción</label>
                        <textarea class="form-control" rows="4" formControlName="description"
                            placeholder="Describe tu servicio, ubicación, contacto, etc."></textarea>
                        <div *ngIf="anuncioForm.get('description')?.touched && anuncioForm.get('description')?.invalid"
                            class="invalid-feedback d-block">
                            Por favor, ingrese una descripción
                        </div>
                    </div>

                    <!-- Método de Pago -->
                    <div class="mb-4">
                        <label class="form-label">Método de pago</label>
                        <select class="form-select" formControlName="paymentMethod">
                            <option value="" disabled selected>Selecciona un método</option>
                            <option value="2">Transferencia Bancaria</option>
                            <option value="3">PayPal</option>
                        </select>
                        <div *ngIf="anuncioForm.get('paymentMethod')?.touched && anuncioForm.get('paymentMethod')?.invalid"
                            class="invalid-feedback d-block">
                            Por favor, seleccione método de pago
                        </div>
                    </div>

                    <!-- Botones -->
                    <div class="d-grid mb-3">
                        <button type="submit" class="btn btn-gold btn-lg mb-3">Publicar y Pagar</button>
                        <button type="button" class="btn btn-secondary btn-lg" (click)="clearForm()">Limpiar</button>
                    </div>
                </form>


                <!-- Área de resultado -->
                <div id="resultado" class="mt-3"></div>

            </div>

        </div>
    </div>
</div>